.site-header {
  background-color: #fff;
}


.sitenav-link {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-link {
  color: white;
  background-color: #ff7500;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5;
  text-decoration: none;

}


.hero {
  background-color: #252420;
  color: #fff;
}



.hero-content {
  width: 390px;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.hero-img {
  width: 510px;
  height: 510px;
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;

}


.features-heading {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.features-svg {
  width: 56px;
  height: 56px;
}

.features-content {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.5px;

}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;

}

.sale {}

.sale-content {}

.sale-heading {}

.sale-text {}

.text-bold {}